/* proprietà pagina */

*{box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(221, 220, 220);
    margin: 0 auto;

}

/* header */

header{
    background-color: white;
    padding: 5px;
}

#logo{


    line-height: 50px;
    vertical-align: middle;
}

#title-logo{
    font-size: 35px;
    font-weight: bolder;
    line-height: 50px;
    vertical-align: middle;

}

/* main */

/* pulsanti aggiunta task e section */

.sezione-add{

    padding: 10px;
    background-color: white;
    margin: 50px auto 10px;
    width: 70%;
    border-radius: 10px;


}

.pulsante{
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    
}

.button-style{
    font-size: 12px;
    font-weight: bold;
}

.azzurro{
    background-color: #47adf1;
    color: white;
    border: 1px solid  #47adf1;
}

.bianco{
    background-color: white;
    color: lightgrey;
    border: 1px solid  lightgrey;

    
    
}


/* Lista */

.elenco{
    padding: 10px;
    background-color: white;
    margin: 10px auto;
    width: 70%;
    border-radius: 10px;
    line-height: 200%;
}

ul{
    list-style: none;
    padding-left: 0px;

}

.principale:before{
    content: ' \25BC';
    font-size: 11px;
    
}


.principale{
    font-size: 20px;
    font-weight: bold;
    color: #444851;
    margin-bottom: 20px;
}

.sottoelenco{
    font-weight: lighter;
    font-size: 17px;
}

.secondari:before{
    content: "\2714";
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #6cc4af;
    color: #6cc4af;
    border-radius: 50%;
    padding: 2px;
    font-size: 8px;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
          
}

.secondari-x:before{
    content: "\2715";
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #ff0000;
    color: #ff0000;
    border-radius: 50%;
    padding: 2px;
    font-size: 8px;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
          
}




/* pulsanti elenco */

.pulsante-id{
    display: inline-block;
    border-radius: 15px;
    height: 25px;
    vertical-align: sub;
    line-height: 25px;

}

.bt-text{
    font-size: 9px;
    vertical-align: top;
    padding: 10px;
    margin: 0 auto;
    color: white;
    

}

/* colori pulsanti elenco */

.b-color{
    background-color: #47adf1;
}

.p-color{
    background-color: #9c72e4;
}

.g-color{
    background-color: #64c0a9;
}

.o-color{
    background-color: #f29e33;
}

.pink-color{
    background-color: #d863a1;

}

.y-color{
    background-color: #b0c926;

}